@import "tailwindcss";

@theme {
  --color-main: #111111;
  --color-main-hover: #333333;
  --color-grey-01: #d6d6d6;
  --color-grey-02: #bdbdbd;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MinSans", sans-serif;
    outline-color: #111111;
  }
}
@layer components {
  .close-btn {
    @apply hover:text-grey-01 h-3.5 w-3.5 text-white transition-colors;
  }
  .close-position {
    @apply absolute -top-[26px] right-0 cursor-pointer;
  }
  .modal-container {
    @apply relative flex w-[343px] flex-col items-center rounded-md bg-white p-4;
  }
  .btn-sm {
    @apply bg-main hover:bg-main-hover cursor-pointer rounded-full px-2 py-1.5 text-sm font-medium text-white transition-colors;
  }
}
.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
