@import "tailwindcss";

@theme {
  --color-main: #38cac4;
  --color-main-hover: #46d1cb;
  --color-grey-01: #d6d6d6;
  --color-grey-02: #bdbdbd;
  --color-grey-03: #9e9e9e;
  --color-grey-04: #616161;
  --color-grey-05: #333333;
  --color-charge: #03a6ff;
  --color-withdraw: #00cc99;
  --color-deduct: #ff6b6b;
  --color-refund: #ff6b6b;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MinSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MinSans", sans-serif;
    outline-color: #38cac4;
  }
}
@layer components {
  .close-btn {
    @apply hover:text-grey-01 h-3.5 w-3.5 text-white transition-colors;
  }

  .close-position {
    @apply absolute -top-[26px] right-0 cursor-pointer;
  }

  .modal-container {
    @apply relative flex w-[343px] flex-col items-center rounded-md bg-white p-4 text-grey-05;
  }

  .btn-sm {
    @apply bg-main hover:bg-main-hover cursor-pointer rounded-full px-2 py-1.5 text-sm font-medium text-white transition-colors;
  }

  .text-input {
    @apply border-grey-02 rounded border p-2;
  }

  .tag {
    @apply bg-grey-01 min-w-max shrink-0 rounded-[10px] px-[8px] py-[3px] text-sm whitespace-nowrap;
  }

  .textarea {
    @apply border-grey-01 mt-1 w-full rounded-[5px] border p-1 px-2 text-sm;
  }

  .study-menu {
    @apply font-medium fixed top-0 left-0 z-40 mt-[52px] box-border w-full h-full transform bg-main text-white flex flex-col items-start pt-4 gap-y-4;
  }

  .button {
    @apply bg-main hover:bg-main-hover h-12 cursor-pointer rounded-full text-sm font-bold text-white transition-colors w-full;
  }
  .study-img {
    @apply rounded-sm border-grey-01 border;
  }
  .tooltip {
    @apply after:absolute after:bottom-full after:border-x-[6px] after:border-b-[9px] after:border-transparent after:border-b-main after:content-[''];
  }
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideDown {
  0% {
    transform: translateY(-3px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.2s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out 1;
}
